In [1]:

import pandas as pd
import numpy as np


path = "Resources/purchase_data.csv"
data= pd.read_csv(path)

In [2]:
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [5]:
player_count= len(data["SN"].unique())
player_count

576

In [6]:
total=pd.DataFrame({"Total Players" :[player_count]})
total

   Total Players
0            576

In [7]:
unique_items_no=len(data["Item ID"].unique())
unique_items_no

183

In [8]:
average_price=round(data["Price"].mean(),2)
average_price

3.05

In [9]:
num_purch=data["Purchase ID"].count()
num_purch

780

In [10]:
revenue=data["Price"].sum()
revenue

2379.77

In [11]:
total=pd.DataFrame({
    "Number Of Unique Items" : [unique_items_no],
    "Average Price" : [average_price],
    "Number Of Purchases" : [num_purch],
    "Total Revenue" : [revenue]
    
})
total['Average Price'] = total['Average Price'].map("${:.2f}".format)
total['Total Revenue'] = total['Total Revenue'].map("${:,.2f}".format)
total

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [12]:
males = data.loc[data['Gender'] == "Male",:]
unique_male = males['SN'].unique()
unique_males = len(unique_male)
print(unique_males)

484

In [13]:
females= data.loc[data['Gender'] == "Female",:]
unique_female= females['SN'].unique()
unique_females = len(unique_female)
print(unique_females)

81

In [14]:
unique_non_disclosed = player_count-(unique_males+unique_females)
print(unique_non_disclosed)

11

In [15]:
male_percentage=round(unique_males/player_count*100,2)
male_percentage

84.03

In [16]:
female_percentage=round(unique_females/player_count*100,2)
female_percentage

14.06

In [17]:
non_disclosed_percentage=round(unique_non_disclosed/player_count*100,2)
non_disclosed_percentage

1.91

In [18]:
Gender_Demographics=pd.DataFrame({
    'Gender':['Male','Female','Other / Non-Disclosed'], 
    'Total Count': [unique_males, unique_females, unique_non_disclosed],
    'Percentage of Players': [male_percentage, female_percentage, non_disclosed_percentage] 
    
                            })
Gender_Demographics
Gender_D=Gender_Demographics.set_index("Gender")

Gender_D

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [19]:
 #Purchasing Analysis (Gender)

In [20]:
female=data.loc[data["Gender"]=="Female", :]


female_p_c=len(female["Purchase ID"])
female_p_c

113

In [21]:
female_ave_p_p=round(female["Price"].mean() ,2)
female_ave_p_p

3.2

In [22]:
female_a_p_p=female["Price"].sum()
female_a_p_p

361.94

In [23]:
favg_t_p_p=round(female_a_p_p/unique_females , 2)
favg_t_p_p

4.47

In [24]:
male=data.loc[data["Gender"]=="Male", :]

male_p_c=len(male["Purchase ID"])
male_p_c

652

In [25]:
male_ave_p_p=round(male["Price"].mean() ,2)
male_ave_p_p

3.02

In [26]:
male_a_p_p=male["Price"].sum()
male_a_p_p

1967.64

In [27]:
mavg_t_p_p=round(male_a_p_p/unique_males,2)
mavg_t_p_p

4.07

In [28]:
other=data.loc[data["Gender"]=="Other / Non-Disclosed" , :]


other_p_c=len(other["Purchase ID"])
other_p_c

15

In [29]:
other_ave_p_p=round(other["Price"].mean() ,2)
other_ave_p_p

3.35

In [30]:
other_a_p_p=other["Price"].sum()
other_a_p_p

50.19

In [31]:
other_t_p_p=round(other_a_p_p/unique_non_disclosed,2)
other_t_p_p

4.56

In [32]:
Purchase_summary=pd.DataFrame({
    "Gender" : ["Female" , "Male" , "other/Non-Disclosed"],
    "Purchase Count" : [female_p_c, male_p_c ,other_p_c],
    "Average Purchase Price": [female_ave_p_p , male_ave_p_p, other_ave_p_p],
    "Total Purchase Value": [female_a_p_p ,male_a_p_p, other_a_p_p ], 
    "Avg Total Purchase per Person": [favg_t_p_p, mavg_t_p_p ,other_t_p_p]
})
Purchase_summary=Purchase_summary.set_index("Gender")
Purchase_summary["Average Purchase Price"]=Purchase_summary["Average Purchase Price"].map("${:.2f}".format)
Purchase_summary["Total Purchase Value"]=Purchase_summary["Total Purchase Value"].map("${:,.2f}".format)
Purchase_summary["Avg Total Purchase per Person"]=Purchase_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [33]:
min_age=data["Age"].min()
max_age=data["Age"].max()
min_age , max_age

(7, 45)

In [34]:
bins=[0,9,14,19,24,29,34,39,100]
bin_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
data['Age Range'] = pd.cut(data['Age'], bins, labels=bin_names)


grouped_bin = data.groupby(["Age Range"])

In [35]:
under_ten = data.loc[data['Age Range'] == "<10",:]
ten_fourteen = data.loc[data['Age Range'] == "10-14",:]
fifteen_nineteen = data.loc[data['Age Range'] == "15-19",:]
twenty_twentyfour = data.loc[data['Age Range'] == "20-24",:]
twentyfive_twentynine = data.loc[data['Age Range'] == "25-29",:]
thirty_thirtyfour = data.loc[data['Age Range'] == "30-34",:]
thirtyfive_thirtynine = data.loc[data['Age Range'] == "35-39",:]
over_fourty = data.loc[data['Age Range'] == "40+",:]

In [36]:

a1=len(under_ten['SN'].unique())
a2=len(ten_fourteen['SN'].unique())
a3=len(fifteen_nineteen['SN'].unique())
a4=len(twenty_twentyfour['SN'].unique())
a5=len(twentyfive_twentynine['SN'].unique())
a6=len(thirty_thirtyfour['SN'].unique())
a7=len(thirtyfive_thirtynine['SN'].unique())
a8=len(over_fourty['SN'].unique())
#a1 ,a2, a3 , a4, a5, a6, a7 , a8
A=[a1,a2,a3,a4,a5,a6,a7,a8]
A

[17, 22, 107, 258, 77, 52, 31, 12]

In [37]:
a1percentage=round(a1/player_count *100 ,2)
a2percentage=round(a2/player_count *100 ,2)
a3percentage=round(a3/player_count *100 ,2)
a4percentage=round(a4/player_count *100 ,2)
a5percentage=round(a5/player_count *100 ,2)
a6percentage=round(a6/player_count *100 ,2)
a7percentage=round(a7/player_count *100 ,2)
a8percentage=round(a8/player_count *100 ,2)
a1percentage ,a2percentage,a3percentage,a4percentage ,a5percentage,a6percentage,a7percentage,a8percentage

(2.95, 3.82, 18.58, 44.79, 13.37, 9.03, 5.38, 2.08)

In [38]:
Age_Demographics=pd.DataFrame({
    "Age Range":[ '<10' ,'10-15' ,'15-19' ,'20-24' ,'25-29' ,'30-34' , '35-39' , '40+' ],
     "Total Count" : [a1,a2,a3,a4,a5,a6,a7,a8],    
    "Percentage of Players" : [a1percentage ,a2percentage,a3percentage,a4percentage,a5percentage,a6percentage,a7percentage,a8percentage]
})
age_demo=Age_Demographics.set_index("Age Range")
age_demo

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-15               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

In [39]:
grouped_bin.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19

In [40]:
purchase_count=grouped_bin["SN"]. count()
purchase_count

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [41]:
avg_purchase_price=round(grouped_bin["Price"].mean() ,2)
avg_purchase_price

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [42]:
Total_Purchase_Value=grouped_bin["Price"].sum()
Total_Purchase_Value

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [43]:
Avg_Total_Purchase_per_Person=round(Total_Purchase_Value/A,2)
Avg_Total_Purchase_per_Person

Age Range
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
Name: Price, dtype: float64

In [44]:
age_range_df = pd.DataFrame({"Purchase Count":purchase_count,
                            "Average Purchase Price":avg_purchase_price,
                            "Total Purchase Value":Total_Purchase_Value,
                            "Avg Total Purchase per Person": Avg_Total_Purchase_per_Person
})
age_range_df["Average Purchase Price"]=age_range_df["Average Purchase Price"].map("${:.2f}".format)
age_range_df["Total Purchase Value"]=age_range_df["Total Purchase Value"].map("${:,.2f}".format)
age_range_df["Avg Total Purchase per Person"]=age_range_df["Avg Total Purchase per Person"].map("${:.2f}".format)
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
id_group=data.groupby("SN" )["Purchase ID"].count()

In [46]:
avg_pric=data.groupby("SN" )["Price"].mean()
avg_price=round(avg_pric,2)

In [47]:
total_purchase_value=data.groupby("SN" )["Price"].sum()

In [55]:
top_spenders= pd.DataFrame({
    "SN": data["SN"],
    "Purchase Count": id_group,
    "Average Purchase Price":avg_price,
    "Total Purchase Value": total_purchase_value
})
sorted_top_spenders=top_spenders.sort_values("Total Purchase Value", ascending=False)
sorted_top_spenders["Average Purchase Price"]=sorted_top_spenders["Average Purchase Price"].map("${:.2f}".format)
sorted_top_spenders["Total Purchase Value"]=sorted_top_spenders["Total Purchase Value"].map("${:.2f}".format)
sorted_top_spenders.head()

C:\Users\pghar\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:7356: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

              SN  Purchase Count Average Purchase Price Total Purchase Value
Lisosia93    NaN             5.0                  $3.79               $18.96
Idastidru52  NaN             4.0                  $3.86               $15.45
Chamjask73   NaN             3.0                  $4.61               $13.83
Iral74       NaN             4.0                  $3.40               $13.62
Iskadarya95  NaN             3.0                  $4.37               $13.10

## Most Popular Items

In [50]:
most_popular=data.groupby(["Item ID","Item Name"])
#most_popular.head(1)

In [152]:
count_in_objID=most_popular["Item ID"].count()

avgPrice_in_objID=round(most_popular["Price"].mean(),2)

totPrice_in_objID=most_popular["Price"].sum()


ID_totPrice_table=pd.DataFrame({
        "Purchase Count":count_in_objID,
    "Item Price":avgPrice_in_objID ,
    "Total Purchase Value":totPrice_in_objID})
ID_totPrice_table

sorted_most_pop=ID_totPrice_table.sort_values("Purchase Count", ascending=False)
sorted_most_pop["Item Price"]=sorted_most_pop["Item Price"].map("${:.2f}".format)
sorted_most_pop["Total Purchase Value"]=sorted_most_pop["Total Purchase Value"].map("${:.2f}".format)

sorted_most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [157]:
des_sorted_most_pop=ID_totPrice_table.sort_values("Total Purchase Value", ascending=False)
des_sorted_most_pop["Item Price"]=des_sorted_most_pop["Item Price"].map("${:.2f}".format)
des_sorted_most_pop["Total Purchase Value"]=des_sorted_most_pop["Total Purchase Value"].map("${:.2f}".format)

des_sorted_most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80